html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

.dark .navbar,
.dark .product-card,
.dark .view-products-button {
  background-color: #1f1f1f;
  color: #fff;
  border-color: #1c1c1c;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.dark {
  background-color: #1f1f1f;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}

.navbar {
  width: 100%;
  background-color: inherit;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  font-size: medium;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.dropdown-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .navbar ul.active {
    display: flex;
  }

  .dropdown-toggle {
    display: block;
  }

  .navbar li {
    margin: 0.5rem 0;
  }

  .navbar {
    padding: 0.5rem;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
  margin-left: auto;
  top: 10px;
  right: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #5d7fb2;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.topbar {
  display: flex;
  justify-content: center;
  position: relative;
  height: 40px;
  padding: 0 10px;
}

.topbar h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: x-large;
}

.product-card {
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.2s;
  margin: 0.5rem auto;
  max-width: 150px;
  padding: 0.5rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
  text-align: center;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dark .product-card {
  color: #fff;
}

.view-products-button {
  position: relative; 
  margin: 20px auto; 
  background-color: white;
  color: #000000;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  border: none;
  cursor: pointer;
  animation: fadeIn 0.5s forwards, bounce 2s infinite;
  z-index: 10; 
  text-align: center;
  bottom: initial; 
}

.view-contact-button {
  position: relative; 
  margin: 20px auto; 
  background-color: white;
  color: #000000;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 10; 
  text-align: center;
  bottom: initial; 
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-2px);
  }
}

.dark .view-products-button {
  background-color: #1f1f1f;
  color: rgb(255, 255, 255);
  border: none;
}

.dark .view-contact-button {
  background-color: #1f1f1f;
  color: rgb(255, 255, 255);
  border: none;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 1rem 1rem 0px 0px;
}

.product-content {
  padding: 1rem;
}

.product-title {
  font-size: small;
  font-weight: 400;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-price {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin-top: 0.25rem;
}

.product-description {
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-title {
  margin: 0 0 1rem 0;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
  .app-title {
    margin-top: 10px;
    font-size: xx-large;
  }

  .product-card {
    margin-top: 30px;
    max-width: 40%;
    border-radius: 1rem;
  }

  .product-image {
    width: 100%;
    height: auto;
  }

  .topbar h1 {
    font-size: x-large;
  }

  .container {
    padding: 16px;
  }
}

.from-home {
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  font-weight: 700;
}

.from-home2 {
  animation: blink 3s infinite;
  font-size: 11px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  font-weight: 700;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Consolidación de media queries para .view-products-button */
@media (min-width: 768px) {
  .view-products-button {
    display: none;
  }
}
@media (max-width: 767px) {
  .view-products-button {
    display: block;
  }
}

.dark .view-products-button:active {
  background-color: #1f1f1f !important;
  transform: translateY(0);
  color: #fff;
}

.view-products-button:active {
  transform: translateY(0);
  background-color: #ffffff !important;
  color: #000000;
}

.escritorio-container {
  text-align: center;
}

/* Consolidación de media queries para .view-contact-button */
@media (min-width: 768px) {
  .view-contact-button {
    display: none;
  }
}
@media (max-width: 767px) {
  .view-contact-button {
    display: block;
  }
}

.escritorios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.escritorio-card {
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.2s;
  margin: 10px;
  max-width: 150px;
  padding: 0.5rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
  text-align: center;
}

.escritorio-card img {
  margin-bottom: 0.25rem;
  max-width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0px 0px;
}

@media (max-width: 768px) {
  .escritorio-card {
    flex: 1 1 calc(50% - 20px);
  }
}

.no-style-link {
  color: inherit; 
  text-decoration: none; 
  display: inline-block;
}

a:focus, button:focus {
  outline: none; 
}

.no-style-link:visited, .no-style-link:active, .no-style-link:hover {
  color: inherit; 
}
